.loading-wrapper-container {
    background-image: none;
    background-color: #182027;
    height: 93vh;

    @media screen and (min-width: 600px){
        height: 93vh;
    }

    .loading-image-container {
        display: flex;
        height: 80vh;

        .loading-image {
            margin: auto;
        }
    }

}