.loading-wrapper-container {
    margin: 0 auto;
    width: 102vw;
    background-image: none;
    background-color: #182027;
    position: relative;
    right: 3%;
    height: 100vh;

    .loading-image-container {
        display: flex;
        height: 80vh;

        .loading-image {
            margin: auto;
        }
    }

}