@import "../../assets/css/media_query_mixins";
$break-mobile: 600px;
$break-tablet: 601px;
$break-mid-desktop: 869px;

div{
    color: white;

    h3{
        margin-bottom: 10%;
    }

    // .welcome-header{
    //     padding-top: 20%;
    //     height: 200px;
    // }

    @include mobile{
        .welcome-header{
            position: relative;
            top: 7rem;

            .welcome-logo {
                max-width: 80%;
            }
        }
    }

    @media screen and (min-width: $break-tablet) {
        .welcome-header{
            position: relative;
            top: 7rem; 

            .welcome-logo {
                max-width: 71%;
            }
        }
    }

    @media screen and (min-width: $break-mid-desktop){
        .welcome-header{
            position: relative;
            top: 7rem; 

            .welcome-logo {
                max-width: 60%;
            }
        }
    }
}

.row > .btn-large {
    height: 89px;
    font-size: 18px;
    line-height: 85px;
}

.landing-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../public/dist/assets/images/ball-court.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;

    @include mobile {
        height: 89vh;
    }

    @include tablet {
        height: 93vh;
    }

    @include desktop {
        height: 93vh;
    }

    @include lg-desktop {
        height: 93vh;
    }

    .welcome-text {
        position: relative;
        top: 8rem;
        font-size: 3rem;

        @include mobile {
            top: 13rem;
            font-size: 2rem;
        }

        @media screen and (min-width: $break-tablet) {
            top: 13rem;
            font-size: 2rem;
        }

        @media screen and (min-width: $break-mid-desktop) {
            top: 13rem;
            font-size: 2.5rem;
        }
    }

    .landing-buttons {
        position: relative;
        top: 12rem;

        @include mobile {
            top: 17rem;
        }

        @media screen and (min-width: $break-tablet) {
            top: 18rem;
        }

        .signup-buttons {
            margin-bottom: 3rem;
        }

        .guest-container {
            margin-bottom: 0;
        }
    }
}

#landing-btn{
    color: white;
    border-radius: 200px;
    background-color: rgb(207, 109, 24);

}

#landing-btn{
    color: white;
    border-radius: 200px;
    background-color: rgb(207, 109, 24);

}
#landing-btn-guest{
    color: #ef6c00;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ef6c00;
}