@import "../../../assets/css/media_query_mixins";



.row {
    button {
        color: whitesmoke;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .btn-large {
        height: 89px;
        font-size: 18px;
    }

    .delete-btn-desktop {
        background-color: transparent;
    }
}

// .crowd-image {
//     height: 300px;
//     width: 100%;
//     background-image: url('/dist/assets/images/crowd.png');
//     background-repeat: no-repeat;
//     background-position: center center;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     z-index: -1;

//     // @media screen and (min-width: 805px) {
//     //     display: none;
//     // }
// }