.row {
    button {
        color: whitesmoke;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .btn-large {
        height: 89px;
        font-size: 18px;
    }

    .delete-btn-desktop {
        background-color: transparent;
    }
}