.browse-container {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(30deg, #182027 26.67%, transparent 26.67%, transparent 56.67%, #182027 56.67%), url('/dist/assets/images/diagonal-bg-image.jpeg');
    // background-attachment: fixed;

    @media screen and (max-width: 500px){
        background-image: linear-gradient(35deg, #182027 26.67%, transparent 26.67%, transparent 56.67%, #182027 56.67%), url('/dist/assets/images/diagonal-bg-image.jpeg');
    }

    @media screen and (max-width: 600px){
        background-image: linear-gradient(45deg, #182027 26.67%, transparent 26.67%, transparent 56.67%, #182027 56.67%), url('/dist/assets/images/diagonal-bg-image.jpeg');
        height: 86vh;
    }

    background-size: cover;
    // overflow-x: hidden;
    overflow-y: auto;
    height: 93vh;

    .header-text {
        font-style: italic;
        font-weight: 500;
        margin-top: 10%;
        margin-bottom: 10%;
        
        @media screen and (min-width: 600px){
            margin-top: 5%;
            margin-bottom: 6%;
        }

        @media screen and (min-width: 800px){
            margin-bottom: 3%;
        }

        @media screen and (min-width: 800px){
            margin-top: 3%;
        }
    }

    .sport-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #orange-btn {
        color: white;
        border-radius: 200px;
        background-color: #ef6c00;
        margin: 2%;
        letter-spacing: 3px;
        font-size: 2em;
    
        &:hover {
            background-color: rgba(47, 79, 79, 0.9);
        }
    }
}


