.container {
    margin: 0;
    width: 100%;

    .sport-name{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header-text {
    margin: 137px 0 44px 0;
}
