
body {
    font-family: 'Quicksand';
    margin: 0 auto;
    background-color: #182027;
    overflow-x: hidden;
}

#landing-container{
    width: 95%;

    .navbar-fixed {
        height: 36px;
    }
}

