$break-med: 601px;
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0 auto;
    background-color: white;
    background-image: url('/dist/assets/images/background.jpg');
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 1000px){
        background-image: none;
        background-color: #182027;
    }

    #root {
        height: 100vh;
    }
}

.app-wrapper{
    height: calc(100% - 64px);

    @media screen and (max-width: $break-med){
        height: calc(100% - 56px);
    }

    @media screen and (min-width: $break-med){
        height: 100%
    }
}

#landing-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    height: calc(100% - 63px);

    

    .navbar-fixed {
        height: 36px;
    }
}

.navbar-fixed {
    height: 36px;

    @media screen and (min-width: $break-med){
        display: none;
    }
}
