$break-med: 600px;

body {
    font-family: 'Quicksand';
    margin: 0 auto;
    background-color: #182027;
    overflow-x: hidden;
}

#landing-container{
    width: 95%;

    .navbar-fixed {
        height: 36px;
    }
}

.navbar-fixed {
    height: 36px;

    @media screen and (min-width: $break-med){
        display: none;
    }
}
