@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../../../assets/css/media_query_mixins";

$scoreFont: 'Roboto', sans-serif;
$break-med: 600px;

.browse {
    overflow-y: auto;
}

#stats-container {
    margin-bottom: 36px;
    width: 100%;
    background-color: #182027;

    @media screen and (min-width: $break-med){
        margin-bottom: 11px;
    }

    .nba-stats {
        color: white;
        font-family: $scoreFont;
        
    
        #stats-title {
            font-size: 1em;
            margin-top: 0px;
            width: 100%;
            background-color:rgba(69, 134, 199, 0.3);
        }
    
        .player-head-width {
            width: 25vw;

            @media screen and (min-width: $break-med){
                width: 15vw;
            }
        }
    
        th{
            font-size: 1em;
            font-weight: 900;
        }
    
        td{
            font-size: .8em;
        }

        tbody {
            // display:block;
            // height:435px;
        
            tr {
                td:first-child {
                    width: 25vw;

                    @media screen and (min-width: $break-med){
                        width: 15vw;
                    }
                }
            }
        }
        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }
        thead {
            width: calc( 100% - 1em )
        }
        table {
            width:100%;
            height: 57vh;

            @media screen and (min-width: $break-med){
                height: 70vh;
            }
        }
    }
}

