@import "../../../assets/css/media_query_mixins";
$break-mobile: 600px;
$break-tablet: 601px;
$break-mid-desktop: 869px;

#passwordconfirm {
    color: lightgray;
}

.input-field {
    margin: 0;
}

.red-text.text-darken-2 {
    margin: 0;
    position: absolute;
}

.signup-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../../../public/dist/assets/images/bballwallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;

    .input-field > label {
        color: white;
    }

    @include mobile {
        height: 93vh;
    }

    @media screen and (min-width: $break-tablet) {
        height: 94vh;
    }

    @media screen and (min-width: $break-mid-desktop) {
        height: 93vh;
    }

    @include lg-desktop {
        height: 93vh;
    }

    @include mobile{
        .signup-logo-container {
            position: relative;
            top: 4rem;
            height: 180px;

            .signup-logo {
                max-width: 80%;
            }
        }
    }

    @media screen and (min-width: $break-tablet) {
        .signup-logo-container {
            position: relative;
            top: 5rem; 
            height: 200px;

            .signup-logo {
                max-width: 71%;
            }
        }
    }

    @media screen and (min-width: $break-mid-desktop){
        .signup-logo-container {
            position: relative;
            top: 4rem; 

            .signup-logo {
                max-width: 60%;
            }
        }
    }

    .signup-text {
        position: relative;
        top: 6rem;
        font-size: 2rem;

        @media screen and (min-width: $break-tablet) {
            top: 8rem;
            font-size: 2.5rem;
        }

        @media screen and (min-width: $break-mid-desktop) {
            top: 7rem;
        }
    }

    .signup-form {
        position: relative;
        top: 6rem;

        @media screen and (min-width: $break-tablet){
            top: 8rem;
        }

        @media screen and (min-width: $break-mid-desktop){
            top: 7rem;
        }
    }
}