
#buttons-container {
    width: 100%;
    height: 100%;

    #row{
        margin-bottom: 0px;

        .btn{
            // background-color: #cf6d18;
        }
    }
    

    
    #toggleTeam {
        // height: 20px;
        line-height: inherit;
    }
}


