@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

$nameFont: 'Archivo Black',
sans-serif;

.team-card {
    margin-top: 5%;

    h3 {
        font-family: $nameFont;
        text-transform: uppercase;
        color: whitesmoke;
        margin-bottom: 5%;
    }

    .team-link {
        margin: 0 3%;
    }

    img {
        margin-top: 2%;
    }

    a {
        .link-icon {
            height: 10%;
            width: 10%;
            display: inline-block;
            margin: 0 3%;

            .icon :hover {
                fill: #ffa500;
            }

            // &:nth-child(4){
            //     margin-bottom: 20px;
            // }
        }
    }
}