@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

$nameFont: 'Archivo Black',
sans-serif;

.about-container {
    height: 100vh;

    .bar {
        height: 22%;
        width: 100%;
        background-color: black;
        z-index: -1;

        @media screen and (max-width: 1705px) {
            height: 20%;
        }

        @media screen and (max-width: 1505px) {
            height: 17%;
        }

        @media screen and (max-width: 1205px) {
            height: 14%;
        }

        @media screen and (max-width: 1005px) {
            height: 20%;
        }

        @media screen and (max-width: 705px) {
            height: 17%;
        }

        @media screen and (max-width: 580px) {
            display: none;
        }

        // @media screen and (max-width: 505px) {
        //     height: 20%;
        // }
    }

    .team-card {
        // margin-top: 5%;
        margin-top: -7%;

        @media screen and (min-width: 300px) {
            margin-bottom: 5%;
        }

        @media screen and (max-width: 1005px) {
            margin-top: -13%;
        }

        @media screen and (max-width: 580px) {
            margin-top: 5%;
        }

        // @media screen and (max-width: 505px) {
        //     margin-top: -23%;
        // }

        h3 {
            font-family: $nameFont;
            text-transform: uppercase;
            color: whitesmoke;
            margin-bottom: 2%;
            margin-top: 1%;
        }

        .team-link {
            margin: 0 3%;
        }

        img {
            margin-top: 1%;
        }

        a {
            .link-icon {
                height: 10%;
                width: 10%;
                display: inline-block;
                margin: 0 3%;

                &:hover {
                    border-bottom: 4px solid #ffa500;
                }

                @media screen and (max-width: 1005px) {
                    margin-bottom: 50px;
                }
            }
        }
    }



}