@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

$scoreFont: 'Roboto', sans-serif;
$teamFont: 'Archivo Black', sans-serif;

#team-score{
        font-family: $scoreFont;
        background-color: whitesmoke;
        width: 100%;
        padding: 10px;
        height: 20%;

        #teams {
                margin: 6px 0 10px 0;
                font-size: 2em;
                font-family: $teamFont;

                @media screen and (max-height: 680px){
                        margin: 0;
                }
        }

        #scores {
                margin-bottom: 8px;
                font-size: 1.5em;

                @media screen and (min-height: 667px){
                        margin: 0;
                }
        }

        #date {
                font-size: 1rem;
                padding-top: 5px;
        }

        div {
                color: darkslategray;
        }

        #quarter {
                font-size: 1rem;
                padding-bottom: 5px;

                @media screen and (min-width: 600px){
                padding-bottom: 0px;
                }
                
                @media screen and (min-width: 992px){
                padding-bottom: 0px;
                }
        }

        #time {
                font-size: 0.8em;
        }
}

.container {
        width: 95%;
}