$break-small: 700px;
$break-large: 768px;

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;

    

    // button {
    //     width: 40%;

    //     @media screen and (max-width: $break-small) {
    //         width: 45%;
    //     }
    // }
}
img{
    max-width: 100%;
    max-height: 100%;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .team-item {
        height: 110px;
        width: 110px;
        margin: 10% 0;
        text-decoration: none;
        outline: 0;
        color: #fff;
        letter-spacing: .5px;
        line-height: 15px;
        border-radius: 10px;
        padding: 0 16px;
        

        @media screen and (min-width: $break-large) {
            width: 150px;
            height: 150px;
        }
    }
}
