
.nav-head {
    height: 80px;

    .nav-wrapper{
        background-color: #B9B9B9;

        .desktop-nav {
            position: absolute;
            left: 68vw;
            top: 25px;
        }

        .sidenav-trigger {
            
            i {
                position: absolute;
                top: 30px;
            }
        }
    }

    .header-text {
        margin: 0;
        font-size: 2rem;
        color: #972C2C;
        font-weight: 300;
        line-height: 4;
        letter-spacing: 0.3rem;
    }

    .sidenav {
        background-color: #292A3D;

        .first-li {
            margin: 60px 0 0 0;
        }

        .sidenav-close {
            color: white;
            font-weight: 200;
        }

        .divider {
            margin: 0 0 0 20px;
            width: 85%;
            color: #972C2C;
        }

        li > a {
            color: white;
            font-weight: 100;
        }
    }
}
