@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
$navHeaderFont: 'Passion One', sans-serif;

#foot {
    background-color: rgb(52, 54, 78);
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-top: 15px;
}

.nav-head {
    padding: 0 15px;

    .header-text {
        margin: 0;
        font-size: 2.5rem;
        color: #292A3D;
        font-family: $navHeaderFont;
    }

    .sidenav {
        background-color: #292A3D;

        .sidenav-trigger {
            margin: 0 6px;
        }

        .first-li {
            margin: 60px 0 0 0;
        }

        .sidenav-close {
            color: white;
            font-weight: 200;
        }

        .divider {
            margin: 0 0 0 20px;
            width: 85%;
            color: #972C2C;
        }

        li > a {
            color: white;
            font-weight: 100;
        }
    }
}
