
.nav-head {
    padding: 0 10px;

    .header-text {
        margin: 0;
        font-size: 2rem;
        color: #972C2C;
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .sidenav {
        background-color: #292A3D;

        .first-li {
            margin: 60px 0 0 0;
        }

        .sidenav-close {
            color: white;
            font-weight: 200;
        }

        .divider {
            margin: 0 0 0 20px;
            width: 85%;
            color: #972C2C;
        }

        li > a {
            color: white;
            font-weight: 100;
        }
    }
}
